.article__item
  &:hover
    .article__linke
      &::before
        opacity 1

    .article__box-title
      text-decoration-color #79431F

    .article__box-text
      text-decoration-color #D85C0B
