@font-face
	font-family 'Inter'
	src url('~@/assets/fonts/Inter-Regular.woff2') format('woff2'), url('~@/assets/fonts/Inter-Regular.woff') format('woff')
	font-weight 400
	font-style normal

@font-face
	font-family 'Roboto'
	src url('~@/assets/fonts/Roboto-Bold.woff2') format('woff2'), url('~@/assets/fonts/Roboto-Bold.woff') format('woff')
	font-weight 700
	font-style normal

@font-face
	font-family 'Roboto'
	src url('~@/assets/fonts/Roboto-Medium.woff2') format('woff2'), url('~@/assets/fonts/Roboto-Medium.woff') format('woff')
	font-weight 500
	font-style normal

@font-face
	font-family 'Roboto'
	src url('~@/assets/fonts/Roboto-Regular.woff2') format('woff2'), url('~@/assets/fonts/Roboto-Regular.woff') format('woff')
	font-weight 400
	font-style normal

@font-face
	font-family 'Roboto'
	src url('~@/assets/fonts/Roboto-Light.woff2') format('woff2'), url('~@/assets/fonts/Roboto-Light.woff') format('woff')
	font-weight 300
	font-style normal
    
@font-face
	font-family 'Rotondac'
	src url('~@/assets/fonts/rotondac-bold.woff2') format('woff2'), url('~@/assets/fonts/rotondac-bold.woff') format('woff')
	font-weight 700
	font-style normal
        
@font-face
	font-family 'Rotondac'
	src url('~@/assets/fonts/rotondac-regular.woff2') format('woff2'), url('~@/assets/fonts/rotondac-regular.woff') format('woff')
	font-weight 400
	font-style normal

        
@font-face
	font-family 'Sansroundedc'
	src url('~@/assets/fonts/Sansroundedc.woff2') format('woff2'), url('~@/assets/fonts/Sansroundedc.woff') format('woff')
	font-weight 400
	font-style normal

       
@font-face
	font-family 'Sansroundedlightc'
	src url('~@/assets/fonts/Sansroundedlightc.woff2') format('woff2'), url('~@/assets/fonts/Sansroundedlightc.woff') format('woff')
	font-weight 300
	font-style normal

@font-face
	font-family 'Rotonda'
	src url('~@/assets/fonts/ofont.ru_Rotonda.woff2') format('woff2'), url('~@/assets/fonts/ofont.ru_Rotonda.woff') format('woff')
	font-weight 300
	font-style normal