@import './fonts.styl'
@import './mixins.styl'
@import './vars.styl'
@import './reset.styl'

@import './common.styl'
@import './animation.styl'

@import './components/index/index.styl'
@import './components/index/animation.styl'
@import './components/test/test.styl'
@import './components/test/animation.styl'
@import './components/result/result.styl'
@import './layout/articles/articles.styl'
@import './layout/articles/animation.styl'

@import './layout/header/header.styl'
@import './layout/footer/footer.styl'
@import './layout/footer/animation.styl'
@import './layout/social.styl'
/* components import here */